
@{
    ViewBag.Title = "Disclaimer";
    ViewBag.Description = "THE resource for light-weight morning-coffee news analysis, product reviews and 'how to' guides for a range of topic areas.";

    ViewBag.Robot = "index, follow";
    ViewBag.Google = "index, follow";
    ViewBag.Bing = "index, follow";
    ViewBag.Url = "Policy/Disclaimer";
}

<div class="jumbotron custom-jumbotron-dark jumbotronimageback">
    <div id="para1" class="togglepc"></div>
    <img class="togglephone" src="~/Content/Images/nextmindsetbannerdark.jpg" />

</div>
<div class="jumbotron" style="padding:1px 30px 10px 30px;text-align:center;background-color:rgba(40,50,60,1); color:white;"><H1>~DISCLAIMER~</H1></div>
<div class="container-fluid">
    <div class="container">
        <h3>NEXT MINDSET LTD / THOMAS FAHEY</h3><br />
        <p>
            Links on this website may lead you to a product or service that provides an affiliate commission to the owners of this site should you make a purchase. In no way does any affiliate relationship ever factor into a recommendation, or alter the integrity of the information we provide.
        </p><br />
        <p>
            Thomas Fahey and Next Mindset Ltd, are not liable for any direct or indirect damages, loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other tangible losses, arising in contract, tort or otherwise from the use of or inability to use this site or any material contained in it, or from any action of decision taken as a result of using the site.
        </p><br />
        <p>
            The materials on this site comprise the views of the content creators and authors, not the views of Thomas Fahey or Next Mindset Ltd.
        </p><br />
        <p>
            This site offers links to other sites thereby enabling you to leave this site and go directly to the linked site. Thomas Fahey and Next Mindset Ltd are not responsible for the content of any linked site or any link in a linked site.
        </p><br />
        <p>By using this site you automatically agree to our <a href="\Home/Policy">privacy policy</a>.</p><br /><br />
    </div>
</div>
