@model IEnumerable<Blog.Models.Categories>

@{
    ViewBag.Title = "About";
    ViewBag.Description = "Our goal is to provide interesting and consistent light reading for our regular readers.";
    ViewBag.Robot = "index, follow";
    ViewBag.Google = "index, follow";
    ViewBag.Bing = "index, follow";
    ViewBag.Url = "About";
}
<div class="jumbotron custom-jumbotron-dark custom-jumbotron-header"><h2>About Us</h2></div>
<br />
@*<div class="panel aboutread">
        <div class="aboutreadbox">
            <p style="text-align:center;">
                Next Mindset is a .<br /><br />
                If you would like to write for Next Mindset, <a href="\Home/Details/2">Click Here!</a> Now is the time. <br /><br />The website launched on the 1st of April 2020.<br /><br />
                Our goal is to provide interesting and consistent light reading for our regular readers. <br /><br /> A bookmark-worthy resource to peruse each morning over breakfast!
            </p>
        </div>
    </div>*@
<div class="container" style="font-size:140%;line-height:37px;padding:0 20px 0 20px;box-sizing:border-box;">
    <div class="row" style="padding:0 10px 0 10px;">
        <h1 style="margin-bottom:20px;">Who runs Next Mindset?</h1>
        <p style="line-height:30px;margin-bottom:20px;"><i>Hi, My name is Tom. Next Mindset is my creation. I basically take care of everything you see on the website. I developed the entire website from scratch starting from a few lines of code, up to everything you see here now.</i> </p>

    </div>
    <div class="row" style="text-align:center;">
        <img style="width:90%;" src="~/Content/Images/freediversss.jpg" />
    </div>
    <div class="row">
        <div class="col-md-9">

            <p style="line-height:30px;margin-top:20px;">
                <b>My journey began in university where i studied Psychology and Education</b>. I have always had a passion for teaching. People always told me I had a great way of explaining things in ways that they could understand.
            </p>
            <p style="line-height:30px;margin-top:20px;">
                <b>My first passion was playing the guitar.</b> I played lead guitar in 4 different bands, then branched out into solo acoustic gigs in bars, before landing a classical guitar scholarship that allowed me to fast-road my way into concert hall gigs in central London.

            <p style="line-height:30px;margin-top:20px;">
                <b>I was a guitar teacher for three years</b> running two group workshops every week teaching many people music theory and classical guitar.
            </p>
            <p style="line-height:30px;margin-top:20px;">
                <i>Then one day, i discovered...</i>
            </p>
            <div style="width:100%; text-align:center;border:2px solid black; background-color:white;padding:20px;margin-top:20px;"><h2 style="margin:0;">FREEDIVING!</h2></div>
            <p style="line-height:30px;margin-top:20px;">
                <span style="background-color:yellow;"><b>It was my passion for freediving that spurred my facination with health and nutrition.</b></span> I quit smoking, started training, and eventually <i>
                    I could hold my breath for a whopping <b>6 minutes and 32 seconds</b>
                </i>!
            </p>
            <p style="line-height:30px;margin-top:20px;text-align:center;">
                <i>Freediving is a sport that really forces you to think about your holistic health, nutrition, fitness, and mental zen.</i>
            </p>

        </div>
        <div class="col-md-3">
            <div style="padding:20px;">
                <img style="width:90%; margin:0 auto;" src="~/Content/Images/freediver.jpg" />
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <h1 style="margin-bottom:20px;">Why Did I Start Next Mindset?</h1>
        <p style="line-height:30px;margin-bottom:20px;"><b>I was always a curious person, googling questions all day long!</b></p>
        <p style="line-height:30px;margin-top:20px;">
            With a background in neuroscience research, I am no stranger to scientific journals, but most people simply do not have time to study mountains of research reports metaanalysis to get the information they need!
        </p>
        <p style="line-height:30px;margin-top:20px;">
            <i>Finding REAL answers, considered ideas, and meditated thoughts, are so hard to come by.</i>
        </p>
        <p style="line-height:30px;margin-top:20px;">
            <b>When it comes to nutrition, it turns out, I wasn't alone!</b>
        </p>
        <p style="line-height:30px;margin-top:20px;">
            <span style="background-color:yellow;">So many people are misguided and uncertain about <i>what they should be putting in their bodies.</i></span>
        </p>
        <p style="line-height:30px;margin-top:20px;margin-bottom:20px;">
            <b>The world is filled with conflicting ideas</b> - fast-food, takeout apps, pharmaceuticals, supplements, fad diets, not to mention the <i>pendulum of popular opinions...</i>
        </p>
        <div style="padding:10px; border:2px solid black;width:90%;">
            <p style="line-height:30px;margin-top:10px;text-align:center;"> <b>I quit my comfortable job as a commercial electrician</b> and created Next Mindset to provide a <b>growing resource</b> of in-depth interesting articles, <b>visually engaging material</b>, with interactive useful and actionable <b>nutrition-focused</b> content.</p>
        </div>

        <br />
    </div>
    <div class="row">
        <hr />
        <h1 style="margin-bottom:20px;">What Do We Offer?</h1>
        <p style="line-height:30px;margin-bottom:20px;"><i>We want to provide our visitors with high quality informative articles, guidance, services, and support.</i> </p>
        <p style="line-height:30px;margin-bottom:20px;"><b>We have a three stage plan to offer the highest value possible:</b> <br /></p>
    </div>
    <div class="container-fluid">
        <div class="row" style="padding:5px;">
            <div style="background-color:rgba(200,200,200,0.15);padding:5px;">
                <div style="border-radius:25px;border:3px solid orange; background-color:rgba(255,255,0,0.2);text-align:center;padding:0 10px 10px 20px;">
                    <h1>Stage 1 - Create Informative Articles For Our Visitors</h1>
                </div>
                <p style="line-height:30px;margin-top:20px;"><b>Keep checking back with us since we upload new content TWICE A WEEK. </b>If you have any ideas for content you would like to see on our platform, please send us a message and we will respond as soon as we can.</p>
            </div> </div><br />
        <div class="row" style="padding:5px;">
            <div style="background-color:rgba(200,200,200,0.15);padding:5px;">
                <div style="border-radius:25px;border:3px solid green; background-color:rgba(180,255,0,0.2);text-align:center;padding:0 10px 10px 20px;">
                    <h1>Stage 2 - Release Our Nutrition and Recipe E-Book</h1>
                </div>
                <p style="line-height:30px;margin-top:20px;"><b> Our Nutrition and Recipe E-Book will be a COMPLETELY FREE download</b> provided you share our page on your social media... but don't refrain from sharing our content as often as you like. We would appreciate the support!</p>
            </div>
        </div><br />
        <div class="row" style="padding:5px;">
            <div style="background-color:rgba(200,200,200,0.15);padding:5px;">
                <div style="border-radius:25px;border:3px solid blue; background-color:rgba(0,180,255,0.2);text-align:center;padding:0 10px 10px 20px;">
                    <h1>Stage 3 - Release Our Comprehensive Learning Resource Package</h1>
                </div>

                <p style="line-height:30px;margin-top:20px;">
                    We are currently working on a fantastic program for <b>helping people through nutritional, or physical transitionary periods</b>
                </p>
            </div>
            <br />
            <p style="line-height:30px;margin-top:20px;">The initial period of <b>habit-breaking and forming is the toughest challenge anyone can face.</b>
                    We are working on <b>a collection of premium resources</b> for providing information, guidance, tools, tips and strategies -
                    <span style="background-color:yellow;"> <i>along with a myriad of other useful documentation</i> -<b> to support people through a nutritional transformation in their life.</b></span>
                </p>
            <br />
        </div>

    </div>
    <div class="container-fluid">
        <div style="padding:10px; border:2px solid HOTPINK;background-color:rgba(40,50,60,1); color:white;">
            <p style="line-height:30px;margin-top:20px;margin-bottom:20px;text-align:center;">
                <b>We are currently at stage ONE!</b> <br /><br /> If you would like to be <i>notified of the future release date for our upcoming E-book</i>, <b>please subscribe to our mailing list!</b>.</i>
            </p>
        </div>
    </div>
    <br>
    <div style="padding:10px; border:1px solid grey;text-align:center;">
        <h4 style="font-weight:600;line-height:25px;">For more content like this sign up below for our mailing list and get involved!</h4>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup" style="text-align:center;">
            <form action="https://regularreads.us8.list-manage.com/subscribe/post?u=62ab8a5f66502f2ad0880da61&amp;id=011fc322e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" style="text-align:center;">

                    <div class="mc-field-group" style="text-align:center;">
                        <label for="mce-EMAIL"></label>
                        <input style="padding:5px; color:black; font-size:120%;" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter Your Email...">
                    </div><br />
                    <div id="mce-responses" class="clear" style="text-align:center;">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_62ab8a5f66502f2ad0880da61_011fc322e7" tabindex="-1" value=""></div>
                    <div class="clear" style="display:inline-block;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
                </div>
            </form>
        </div>

        <h6>By subscribing, you consent to receive emails from Next Mindset Ltd. We respect your privacy and take protecting it seriously. You can easily unsubscribe at any time.</h6>

        <br />
    </div>

</div>
<hr />
<div class="container">
    <br />
    <div style="border-radius:20px; border:3px solid rgb(225,48,108);background-color:rgba(225,48,108,0.05); padding:10px;">
        
        <div style="width:100%;text-align:center;">
            <div style="width:auto; background-color:white;max-width:400px;margin:0 auto;margin-bottom:10px;border-radius:10px; border:1px dashed green;">
                <h2 style="text-align:center; color:green;margin:10px;"><a href=""> <span style="color:red;" class="fa fa-instagram"> </span> Follow Us On Instagram</a></h2>
            </div>
        </div><div id="pixlee_container"></div>
        <script type="text/javascript">window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'UcCVe3Dre_S8YGxx_Jq7' }); Pixlee.addSimpleWidget({ widgetId: '27433' }); };</script>
        <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
    </div>
</div>
<div class="container">
    <br />
    <div class="row wow fadeInLeft">
        <div class="col-md-3">
            <div class="about-image"></div>
        </div>
        <div class="col-md-9">
            <div class="about-text">
                <h2>MAKE Next Mindset PART OF YOUR DAILY ROUTINE</h2>

            </div>
        </div>
    </div>
    @*<div class="row wow fadeInRight">

        <div class="col-md-9">
            <div class="about-text" style="text-align:right;">
                <h2>Not sure what to cook tonight? <br /><br>CHECK OUT OUR EASY FOOD RESOURCE!</h2>

            </div>
        </div>
        <div class="col-md-3">
            <div class="about-image1"></div>
        </div>
    </div>*@
    @*<br />
    <div class="jumbotron custom-jumbotron-dark custom-jumbotron-header"><h2>OUR EVER BUILDING LIST OF CATEGORIES</h2></div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="padding:10px;height:250px;">
                <div style=" padding:10px; text-align:center;">
                    <h4><a href="\Home/Category_List/@item.Cat_Id">@item.Title</a></h4>
                    <a href="\Home/Category_List/@item.Cat_Id"><img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Image)" style="width:100%;" /></a>
                </div>
            </div>
        }
    </div>
    <br />
    <div class="jumbotron custom-jumbotron-dark custom-jumbotron-header"><h2 style="text-align:right;">OUR SUBCATEGORIES ARE GROWING ALL THE TIME</h2></div>
    <div class="row">
        @foreach (var subs in ViewBag.Subs)
        {
            <div class="col-md-3" style="padding:10px;height:250px;">
                <div style=" padding:10px; text-align:center;">
                    <h4><a href="\Home/Subcategory_List/@subs.Sub_Id">@subs.Title</a></h4>
                    <a href="\Home/Subcategory_List/@subs.Sub_Id"><img src="~/Content/Images/@subs.Image" style="width:100%;" /></a>
                </div>
            </div>
        }
    </div>*@
    <br />
    <div class="jumbotron custom-jumbotron-dark custom-jumbotron-header"><h2 style="text-align:center;">BROWSE ALL ARTICLES</h2></div>

    @foreach (var art in ViewBag.Art)
    {
        <div class="row" style="margin:5px;padding:5px; border:1px solid rgba(0,0,0,0.05);">
            <div class="col-md-1 col-md-offset-3" style="padding:10px;">
                <div style=" padding:0px; text-align:center;">
                    <a style="display:inline;" href="\Home/Details/@art.Art_Id"><img src="~/Content/Images/@art.Image" style="margin:0 auto;width:90%;" /></a>
                </div>
            </div>
            <div class="col-md-5" style="padding:10px;">
                <div style=" padding:0px; text-align:left; padding-top:20px; padding-left:10px;">
                    <h4 style="display:inline;"><a href="\Home/Details/@art.Art_Id">@art.Title</a></h4>
                </div>
            </div>
        </div>
    }

</div>

